body {
    font-family: 'Ubuntu Mono', monospace;
    display: grid;
    grid-template-rows: repeat(8, 1 fr);
    grid-template-columns: repeat(4, 1fr);
}

#sidebar {
    grid-row-start: 1;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 2;
}

#header {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 5;
}

#main-content {
    grid-row-start: 3;
    grid-row-end: 9;
    grid-column-start: 2;
    grid-column-end: 5;
}

.avatar {
    width: 32px;
}

.avatar.user_avatar {
    width: 64px;
}

.icon {
    width: 16px;
}

ul {
    list-style: none;
}