body {
    font-family: 'Ubuntu Mono', monospace;
    display: grid;
    grid-template-rows: 1fr, 6fr;
    grid-template-columns: 1fr, 5fr;
    margin: 0;
    gap: 10px;
}

#sidebar {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#logo {
    display: flex;
    gap: 10px
}

h1 {
    margin: 0;
}

#header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

#header_top,
#header_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

#header_top_right,
#header_bottom_left {
    display: flex;
    align-items: center;
    gap: 20px;
}

#search_field {
    width: 35vw;
}

.username {
    display: inline;
}

#main-content {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

#projects {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 7;
}

#announcements {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

#trendings {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 7;
}

.avatar {
    width: 32px;
    height: 32px;
}

.avatar.user_avatar {
    width: 64px;
    height: 64px;
}

.icon {
    width: 16px;
    height: 16px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 15px;
}