:root {
    --color1: #b6c2c8;
    --color2: #f1f3f4;
    --color3: #fff;
    --color4: #525966;
    --color5: #091224;
    --contrast_color: #b7e0a7;
    --accent_color: #081225;
    --border_radius: 20px;
}

html {
    height: 100vh;
}

body {
    font-family: 'Ubuntu Mono', monospace;
    display: grid;
    margin: 0;
    height: 90%;
    background-color: var(--color1);
}

#sidebar {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 35px;
    display: flex;
    flex-direction: column;
    background-color: var(--color2);
    justify-content: space-evenly;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    user-select: none;
    max-width: fit-content;
    height: fit-content;
}

.selected {
    background-color: var(--accent_color);
    width: 100%;
    border-radius: var(--border_radius);
    color: var(--color3);
}

#logo {
    display: flex;
    gap: 10px;
}

#upper_objects {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h1 {
    margin: 0;
}

#header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: var(--color3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: fit-content;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
}

#search_container,
#header_right {
    padding: 10px;
    display: flex;
}

#search_container {
    background-color: var(--color2);
    border-radius: var(--border_radius);
}

#header_right {
    align-items: center;
    gap: 20px;
}

#search_field {
    border-style: none;
    background-color: var(--color2);
    width: 35vw;
    font-size: large;
}

#header_top_right,
#header_bottom_left,
#header_top_left {
    display: flex;
    align-items: center;
    gap: 20px;
}

button {
    background-color: var(--accent_color);
    border-radius: 30px;
    font-size: large;
    color: #fff;
    padding: 10px;
}

button:hover {
    color: var(--contrast_color);
}

#main-content {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-columns: 7fr minmax(150px, 200px);
    padding: 10px;
}

#projects {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 7;
    margin: 10px;
}

.project {
    border-top: 10px solid var(--accent_color);
    width: 200px;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.card,
#announcements-container,
#trending-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: var(--color3);
    height: fit-content;
}

.card_icon_container {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

#announcements {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    height: fit-content;
}

.announcement p {
    font-size: small;
}

#trendings {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;
    height: fit-content;
}

.trending-item {
    display: flex;
    align-items: center;
    font-size: smaller;
}
menu
.trending-item p {
    margin: 0;
}

.user,
.username {
    font-weight: bold;
    display: inline;
}

.trending-item img,
.trending-item_info {
    margin: 10px;
}

.avatar,
.logo {
    width: 32px;
    height: 32px;
}

.avatar {
    border-radius: 50%;
    background-color: var(--accent_color);
}

.avatar.user_avatar {
    width: 64px;
    height: 64px;
}

#user_logged {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user_logged h2,
#user_logged p {
    margin: auto;
    text-align: center;
}

.userAccount {
    color: var(--color4);
}

.icon {
    width: 16px;
    height: 16px;
    padding: 5px;
}

.header_icon {
    width: 32px;
    height: 32px;
}

.image_selected {
    border-radius: 10px;
    background-color: var(--color3);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: large;
}

li:hover {
    color: var(--contrast_color);
}

hr {
    width: 90%;
    border-color: var(--color2);
}